@model SuperPizzeria.Models.Cart

<h2>Cart: </h2>
<table>
    @if (Model != null)
    {
        foreach (var cartItem in Model.CartItems)
         {
             <tr>
                 <td>Dish: @cartItem.Dish.Name </td>
                 <td> Quantity: @cartItem.Quantity </td>
                 <td> Price each: @cartItem.Dish.Price </td>
             </tr>
         }
    }
    
</table>
@*<h2> Summa: @Model.Sum(x => x.Dish.Price * x.Quantity):-</h2>*@
<a asp-controller="Tomasos" asp-action="CheckOut">Till kassan</a>
