@model SuperPizzeria.ViewModels.EditDishViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Dish</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Dish.Id" />
                <div class="form-group">
                    <label asp-for="Dish.Name" class="control-label"></label>
                    <input asp-for="Dish.Name" class="form-control" />
                    <span asp-validation-for="Dish.Name" class="text-danger"></span>
                </div>
            <div class="form-group">
                <label asp-for="Dish.Price" class="control-label"></label>
                <input asp-for="Dish.Price" class="form-control"/>
                <span asp-validation-for="Dish.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dish.DishIngredients" class="control-label"></label>
                @foreach (var ingredient in Model.Ingredients)
                {
                   <p>@ingredient.Name</p> <input type="checkbox" asp-for="@ingredient.Included" />
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
